#about-container {
    background-image: url('../assets/oscars.jpg');
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
}

#about-container h1 {
    color: white;
    width: 80%;
    height: fit-content;
    padding: 1rem;
    margin-top: 2rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 0.2rem solid white;
    text-align: center;
    font-size: xx-large;
    background-color: #012c57f0;
    font-family: "Wellfleet", monospace;
} 

#Panes {
    color: #012c57;
    width: fit-content;
    margin: 7rem;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: "Wellfleet", monospace;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    
}

.pane-block {
    border: 0.2rem solid white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
    margin: 3rem;
    padding: 3rem;
    height: fit-content;
    color: white;
    background-color: #012c57f0;
    border: solid white;
    height: 100%;
    width: 40%; 
    margin: 1rem;
    padding: 1rem;
    box-sizing: border-box;
    text-align: left;
}

#contact h2 {
    text-align: center;
}

#contact {
    width: 50%;
    text-align: center;
    color: white;
}

#contact a {
    color: white;
    text-decoration: none;
    width: 1rem;
}
#contact a :hover {
    color: gray;
}