#booking-page {
    display: flex;
    flex-direction: column;
    
}

#booking-page h1 {
    align-items: center;
 }

 #booking-page form {
    align-self: center;
    width: 20rem;
    flex-grow: 1;
}

#booking-page form * {
    padding: 0.5rem;
    margin-bottom: 0.3rem;
}

#confirmBooking {
    color: forestgreen;
    align-items: center;
    display: none;
}

#notEnoughTickets {
    color: red;
    align-items: center;
    display: none;
}
#available-tickets {
    font-size: 1em;
}

#confirmBookingId {
    color: darkorange;
}