.container{
    background-image: url('../assets/oscars.jpg');
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
    
}

#booking-page {
    display: flex;
    flex-direction: column;
}

#booking-page h1 {
    align-items: center;
 }

 #booking-page form {
    align-self: center;
    width: 20rem;
    flex-grow: 1;
}

#booking-page form * {
    padding: 0.5rem;
    margin-bottom: 0.3rem;
}

#confirmBooking {
    color: forestgreen;
    align-items: center;
    display: none;
}

#notEnoughTickets {
    color: red;
    align-items: center;
    display: none;
}
#available-tickets {
    font-size: 1em;
}

#confirmBookingId {
    color: darkorange;
}

#booking-page {
    margin: auto;
    margin-top: 5%;
    border-radius: 1rem;
    padding: 2rem;
    margin-left: 0 auto;
    height: 73vh;    
}

#inner-container{
    border: 0.2rem solid white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
    margin: 3rem;
    padding: 1rem;
    height: fit-content;
    color: white;
    background-color: #012c57f0;
    border: solid white;
}

#choose-event{
    margin-top: 1rem;
}

#choose-event-div{
    margin-top: 1rem;
}

#inner-container input{
    margin-top: 1rem;
}
