/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap');

/* 
Club colors:
#293431; dark
#f8f7e5; light
#eda651; light orange
#cf6f38; dark orange
#4b3a63; dark purple

*/

/* general club page styles and container */
#club-3-container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding: 2em 10em;
    background-color: #f8f7e5;

    /* Font styles */
    font-family: 'Londrina Solid', sans-serif;

    h1 {
        font-size: 6em;
        font-weight: 900;
        margin: 0;
    }
    h2 {
        font-size: 4em;
        font-weight: 400;
        margin: 0;
    }
    h3 {
        font-size: 2em;
        font-weight: 400;
        margin: 0.5em 0 0 0;
    }
    h4 {
        font-size: 1.3em;
        margin: 0;
    }
    p {
        font-size: 1.2em;
        font-weight: 300;
        margin: 0.5em 0 0.5em 0;
    }

    button {
        background-color: #cf6f38;
        border-style: none;
        border-radius: 1em;
        padding: 1em;
        width: 8em;
        font-family: 'Londrina Solid', sans-serif;
        font-weight: 300;
        font-size: 1em;
    }
}

/* About container*/
#about-club3 {
    display: flex;
    flex-direction: column;
    width: 40vw;
    align-items: center;
    background-color: #293431;
    color: #cf6f38;
    padding: 2em;
    border-radius: 1em;
}
#about-club3 p {
    text-align: center;
}

/* Calender container */
#calender-club3 {
    display: flex;
    flex-direction: column;
    width: 50vw;
    gap: 3em;
    padding: 3em;
    background-color: #293431;
    border-radius: 1em;
}

#calender-club3 h2 {
    text-align: center;
    color: #cf6f38;
}

.event-club3 {
    display: flex;
    flex-direction: row;
    background-color: #f8f7e5;
    padding: 1em;
}

/* Animations */
#club-3-container button:hover {
    background-color: #eda651;
    cursor: pointer;
}
