/* Global color variables */
:root {
    /* Main Colors */
    --primary-color: #3D6CB9; /* Deep Blue */
    --secondary-color: #5486D6; /* Lighter Blue */
    --accent-color: #86BBD8; /* Pale Blue */
    --background-color: #F5F5F5; /* Light Gray */
    --text-color: #333333; /* Dark Gray */

    /* Additional Colors */
    --success-color: #2ECC71; /* Emerald Green */
    --info-color: #3498DB; /* Dodger Blue */
    --warning-color: #F39C12; /* Sunflower Yellow */
    --error-color: #E74C3C; /* Alizarin Red */
    --dark-color: #34495E; /* Wet Asphalt */
    --light-color: #ECF0F1; /* Clouds */
}

.ivy-container {
    margin-top: auto; /* Push the main content down below the navbar */
    flex-grow: 1; /* Make the container grow as needed */
    padding: 20px; /* Add some spacing around the content */
    display: flex;
    margin: auto;
    height: auto;
    background-color: rgba(3, 2, 15, 0.973);
    justify-content: center;
    align-items: stretch;
}

.ivy-main-container {
    margin-top: auto; /* Push the main content down below the navbar */
    flex-grow: 1; /* Make the container grow as needed */
    min-width: 600px; /* Set a maximum width for the container */
    padding: 20px; /* Add some spacing around the content */
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 1 column for section cards */
    grid-gap: 20px; /* spacing between grid items */
    width: 100vh;
    margin: auto;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.ivy-section-container {
    display: flex;
    justify-content: center; /* Distribute the sections evenly along the row */
    align-items: end; /* Stretch the sections vertically to fill any available space */
    flex-direction: column; /* Stack the sections vertically */
    border-radius: 10px;
    row-gap: 20px;
    margin-top: auto; /* Add this line */
    margin-bottom: auto; /* Add this line */
}

#ivy-section {
    background-color: white;
    padding: 20px; /* Add padding to the section cards */
    border-radius: 4px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.575);
    width: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:  center;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    transition: all .2s ease-out;
}

#ivy-section:hover {
    scale:  1.03; /* Scale up on hover */
    transform: translateY(-8px); /* Move up slightly on hover */
    box-shadow: 0 2px 6px 0 rgba(255, 255, 255, 0.637); /* Darker shadow on hover */
    cursor: pointer;
}

#ivy-section  h2 {
    color: #D8A059;
    font-size: 1.5em;
    font-weight: normal;
    margin-bottom: 0;
    margin-right: 1rem;
}

.ivy-events {
    padding: 1rem;
    border: transparent;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: auto;
    width: fit-content;
    font-size: small;
    line-height: 1.3;
    margin-bottom: 10px;
}

.ivy-events p {
    color: #5a5959;
}

#ivy-section button {
    background-color: #007bff; /* Blue background color */
    color: #ffffff; /* White text color */
    border: none; /* Remove border */
    padding: 10px 20px; /* Add padding */
    border-radius: 5px; /* Add rounded corners */
    cursor: pointer; /* Add pointer cursor on hover */
    transition: background-color 0.3s ease; /* Smooth transition */
    margin-top: 10px;
}

#ivy-section button:hover {
    background-color: #0056b3; /* Darker shade of blue */
}

/*  */

.aside-container {
    height: 25%;
    width: auto;
    display: flex;
    justify-content: left;
    margin-left: 0;
    position: sticky;
    top: 6em; /* Offset from the top of the page */
}

#ivy-aside-1{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px; /* Add padding to the aside */
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center; 
    align-items:center;
    min-height: fit-content;
    margin-bottom: 20px; /* Add margin bottom to create space between the aside elements */
    margin-left: 15rem;
    border-radius: 5px;
    height: auto;
}

#ivy-aside-1 h2{
    margin-bottom: 0;
    color: #D8A058;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.877);
    margin-top: 2rem;
}
#ivy-aside-1 h4{
    margin-bottom: 0;
    margin-top: 5px;
}
#ivy-aside-1 p{
    font-size: 14px;
    line-height: 1.7;
    max-width: 20rem;
    color:  #5a5959;
}
#ivy-aside-1 img {
    width: 72%; /* Make the image fill the width of its container */
    height: auto;
    border-radius: 5px; /* Add rounded corners to the image */
    margin-bottom: 10px; /* Add some space below the image */
}
